<p>view-expense works!</p>

<div class="text-end">
    <a [routerLink]="addParticipant" class="btn btn-primary me-2 mb-3">Add Participant</a>
    <a [routerLink]="addExpense" class="btn btn-primary mb-3">Add Expenses</a>
</div>

<table class="table" style="font-size: 20px">
    <tr>
        <th>Item id</th>
        <th>Item Name</th>
        <th>Item category</th>
        <th>Amount</th>
        <th>expense Date</th>
        <th>Action</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>