<p>view-expense works!</p>

<div class="text-end">
    <a [routerLink]="addParticipant" class="btn btn-primary me-2 mb-3">Add Participant</a>
    <a [routerLink]="addExpense" class="btn btn-primary mb-3">Add Expenses</a>
</div>

<table class="table" style="font-size: 20px">
    <tr>
        <th>Item Name</th>
        <th>Item category</th>
        <th>Amount</th>
        <th>expense Date</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let expense of expenses" [ngSwitch]="expense.category">
        <td>{{expense.itemName}}</td>
        <td *ngSwitchCase="'Drink'"><span class="badge bg-success">{{expense.category}}</span></td>
        <td *ngSwitchCase="'Juice'"><span class="badge bg-primary">{{expense.category}}</span></td>
        <td *ngSwitchCase="'Ice'"><span class="badge bg-secondary">{{expense.category}}</span></td>
        <td *ngSwitchCase="'Snack'"><span class="badge bg-info">{{expense.category}}</span></td>
        <td *ngSwitchDefault><span class="badge bg-danger">{{expense.category}}</span></td>
        <td>{{expense.amount}}</td>
        <td>{{expense.expDate}}</td>
        <td *ngIf='userLgType == "M" || userLgType=="A"'>
            <button type="button" class="btn btn-warning" (click)="updateExpense(expense)">Update</button>
        </td>
        <td *ngIf="userLgType=='A'">
            <button type="button" class="btn btn-warning" (click)="deleteExpense(expense)">Delete</button>
        </td>
    </tr>

</table>
