<p>view-expense works!</p>

<div class="text-end">
    <a [routerLink]="addParticipant" class="btn btn-primary me-2 mb-3">Add Participant</a>
    <a [routerLink]="addExpense" class="btn btn-primary mb-3">Add Expenses</a>
</div>

<table class="table" style="font-size: 20px">
    <tr>
        <th>Item Name</th>
        <th>Item category</th>
        <th>Amount</th>
        <th>expense Date</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let expense of expenses">
        <td>{{expense.itemName}}</td>
        <td>{{expense.category}}</td>
        <td>{{expense.amount}}</td>
        <td>{{expense.expDate}}</td>
        <td>
            <button type="button" class="btn btn-danger" (click)="deleteExpense(expense)">Delete</button>
        </td>
    </tr>
</table>